[2016-02-26 16:23] warpech opened #1 "Replace _objChanged callback with multi-template applyJSONPatch"
Follow up to https://github.com/StarcounterSamples/Products/issues/8:

Refactor the code so that `_objChanged` callback is not needed.

Instead, `applyJSONPatch` should notify all `templates` in the document by translating JSON Pointer into a Polymer path.

[2016-03-01 11:03] miyconst opened #2 "puppet-polymer-client is not 100% compatible with puppet-client api"
The `puppet-client` has `network` property which we use in SignIn and Registration app to change state.

The `puppet-polymer-client` does not have this property and I should navigate like `puppet.network`. I have changed the Registration app, but maybe we should add this property to `puppet-polymer-client` itself?

[2016-03-01 11:06] warpech commented on #2
Because of that, @tomalec made some modifications of `starcounter-debug-aid` already: https://github.com/StarcounterSamples/starcounter-debug-aid/commit/dc450856b461b858018d6a70ba94a6be609f58c7

But I think there is not problem to add `network` property to puppet-polymer-client.

[2016-03-01 11:09] miyconst commented on #2
So, do you think it's better to just add this after https://github.com/PuppetJs/puppet-polymer-client/blob/gh-pages/puppet-client.html#L191 or modify out existing apps?

[code]

[2016-03-01 11:10] tomalec commented on #2
Simply `puppet-polymer-client` is not a Puppet instance, because of conflict in method names between `P0lymer.Base` and `EventTarget`. The puppet instance for p-p-c is at `.puppet`.

@warpech had an idea to remove Event API from puppet, then we could probably make it an instance back again.

[2016-03-01 13:17] warpech commented on #2
That's the proposal mentioned by @tomalec: https://github.com/PuppetJs/PuppetJs/issues/78

[2016-03-01 15:38] miyconst commented on #2
Added the `this.network` property.

[2016-03-01 15:38] #2 closed

[2016-03-01 16:04] miyconst opened #3 "useWebSocket is ignored"
[code]

Still uses WebSocket for communication.

[2016-03-01 16:09] miyconst opened #4 "Remove array item removes multiple items at a time"
The following gif demonstrates the issue:

![polymer-array-bug](https://cloud.githubusercontent.com/assets/6435556/13432948/0fb7da1c-dfd0-11e5-80f6-d1f054958bbf.gif)

The patch to remove an item received from server:

[code]

The test bench is available here: https://github.com/miyconst/Playground/

[2016-03-01 17:02] miyconst opened #5 "Custom elements with array parameters are not being notified about array changes"
I have a model:

[code]

And view:

[code]

When server updates the `Items` array the changes are reflected in the `dom-repeat`, but not in `ct-list`.

Exactly same setup works fine with `Polymer 1.1.5` + `dom-bind-notifier`.

Test bench is available here: https://github.com/miyconst/Playground/.
To downgrade to `Polymer 1.1.5` rename `sys-downgrade` folder to `sys`.

[2016-03-02 08:39] warpech commented on #5
Reproducible for me as well. I will take a look.

[2016-03-02 11:56] miyconst opened #6 "Model changes made after a patch sent to server are overwritten by server response"
I have the following setup:

[code]

The input sends patch on change, the button on click. But if you press on the button while input is focused the following occurs:

- Polymer observes change event and updates model.
- `puppet-client` sends patch to server.
- Button's `onmousedown` executes and updates the value to `1`.
- `puppet-client` receives response from server.
- `puppet-client` notifies

[2016-03-02 12:12] warpech commented on #6
I can reproduce it.

To reproduce, it is required to hold the mouse button longer than a HTTP request/response time.

[2016-03-02 12:16] miyconst commented on #6
Custom `on-click` handler handles click correctly, but the original problem is still there.

[code]

[code]

[2016-03-02 12:28] warpech commented on #6
This solves the problem for me (event precedence is always `mousedown` -> `mouseup` -> `click`):

`<button type="button" value="{{model.Button$::click}}" onmouseup="++this.value">Click me</button>`

As @miyconst observed:

Yes, indeed this is indeed how it works right now. At the time of notification, I guess that Polymer actually dirty-checks the values, and thinks that `0` in model is more curre

[2016-03-02 12:51] miyconst commented on #6
@warpech do you think it is a good idea to skip notification if the patch coming from server is empty?

[2016-03-02 13:53] warpech commented on #6
Good idea!

[2016-03-02 14:14] miyconst commented on #6
I try to always do client side model changes in "Polymer" style, means using `this.set` method instead of changing the actual values.

But we have places where the changes are made directly to the model. So, if we don't notify Polymer about incoming empty patch from server, those changes will never be reflected in UI.

[2016-03-02 14:14] miyconst commented on #6
Not correct, the changes will be reflected in UI as soon as a non-empty patch arrives.

[2016-03-02 22:55] #4 closed

[2016-03-02 23:04] warpech commented on #4
Fix released in next Starcoutner nightly. Thanks for reporting!

[2016-03-02 23:04] warpech commented on #6
Fix released in next Starcoutner nightly. Thanks for reporting!

[2016-03-02 23:04] warpech commented on #5
Fix released in next Starcoutner nightly. Thanks for reporting!

[2016-03-02 23:04] #5 closed

[2016-03-02 23:05] warpech opened #7 "Skip notification on empty patch"
Proposed in https://github.com/PuppetJs/puppet-polymer-client/issues/6:

I agree this is a nice optimisation. To be added in future.

[2016-03-02 23:06] #6 closed

[2016-03-03 13:51] warpech opened #8 "morphUrl is undefined"
@mattiasmak showed me today that the following line does not work with puppet-polymer-client:

[code]

Because morphUrl is now available at `puppet.puppet`.

This is the same problem as with: https://github.com/PuppetJs/puppet-polymer-client/issues/2 (and https://github.com/PuppetJs/puppet-polymer-client/issues/3 to an extent).

[2016-03-03 13:56] warpech commented on #8
@tomalec do you have an idea how to fix the API compatibility problems at once?

[2016-03-03 13:56] tomalec commented on #8
Inherit from Puppet as before

[2016-03-03 14:02] warpech commented on #8
First, I will apply a quick fix:

[code]

Extending Puppet can be tracked as a separate issue.

[2016-03-03 14:16] warpech commented on #8
Fixed and released in SysUpgrade and the next Starcounter nightly

Inheritance from Puppet will be tracked in a separate issue

[2016-03-03 14:16] #8 closed

[2016-03-03 14:19] warpech opened #9 "Inherit from Puppet"
As stated in issues: https://github.com/PuppetJs/puppet-polymer-client/issues/2 and  https://github.com/PuppetJs/puppet-polymer-client/issues/8, there is some incompatibilities with the original puppet-client, which was inheriting from Puppet.

They can be fixed if puppet-polymer-client inherits from Puppet as well.

@tomalec proposes to inherit `puppet-polymer-client`'s prototype from Puppet's pr

[2016-03-03 14:35] andwah opened #10 "Odd behavior when items is removed from array."
If items is removed from an array (server side). the client-side is not 100% accurate.

If 2nd item is removed then the result will be more obvious

To test:
1. Run this app https://github.com/Starcounter/Warehouse with the latest Starcounter together with the `Sign In` app

2. Sign in with "admin/admin"
3. Click the `TEST NOTICE` button, 2-3 times. (notices will appear at the top of the screen)
4

[2016-03-03 14:42] warpech commented on #10
Both cases reproducible for me. I will investigate tomorrow.

[2016-03-04 10:32] warpech commented on #10
I will be posting a fix before lunch.

[2016-03-04 11:36] warpech commented on #10
Fix available in https://github.com/StarcounterSamples/sysupgrade

I will push to Starcounter later today

[2016-03-04 13:41] warpech opened #11 "ignoreAdd is not compiled to a RegExp"
@malx122 reports that `ignore-add` attribute is passed to PuppetJs as a string, but not compiled to a RegExp.

In result, there is an exception saying that `test` is not defined in https://github.com/PuppetJs/PuppetJs/blob/501e82509b1b63a761167b047644977ceb18392e/src/puppet.js#L511

Probably related to: https://github.com/PuppetJs/puppet-polymer-client/issues/3

Might be fixed by: https://github.c

[2016-03-04 17:29] warpech commented on #11
The above commit fixes the problem. It seems that Polymer doesn't have any type casting or guarding. Even though `this.ignoreAdd` is declared as RegExp, it happily accepts being set to string, which was causing the problem.

@tomalec are you ok with this change?

[2016-03-04 17:38] warpech commented on #11
Fixed, released a new version. Available immediately in SysUpgrade as well as in the next Starcounter nightly.

[2016-03-04 17:38] #11 closed

[2016-03-04 17:39] warpech commented on #10
Fixed, released a new version. Available immediately in SysUpgrade as well as in the next Starcounter nightly.

[2016-03-04 17:39] #10 closed

[2016-03-04 18:51] tomalec commented on #11
LGTM

[2016-03-07 10:39] warpech opened #12 "Templates in Shadow DOM are not notified"
`puppet-polymer-client` only notifies templates that are in light DOM:

https://github.com/PuppetJs/puppet-polymer-client/blob/495464e151796a4f952a21d1caa807c874d57d3b/puppet-client.html#L235

[code]

Which is a problem for @malx122, who has a modal window contents rendered in a Polymer element.

I will try to upgrade `starcounter-include` to us Polymer notification mechanism.

[2016-03-07 17:04] warpech commented on #12
Above commit contains a initial solution that uses Polymer's notification protocol to notify about remote changes instead of document.querySelectorAll("template[is=dom-bind]")

Tests and comments welcome

[2016-03-08 11:39] warpech commented on #12
The solution requires `starcounter-include`, `launcher-include`, `imported-template` to implement wrapping for Polymer's `_notifyPath` as seen in https://github.com/StarcounterSamples/SysUpgrade/commit/f9e40c76b87d93de215bee64f854b4d39317b8d4

@tomalec do you agreee this is a way to go?

[2016-03-08 13:11] malx122 commented on #12
Sorry that I havn't been able to test it yet. Will try to find time tonight

[2016-03-08 13:19] tomalec commented on #12
I really like the approach to reduce our own magic, and just forward Polymers notification protocol. @warpech Could you just add some comments on those methods, so it would be easier to maintain, and we will do not have to support it once Polymers templating engine will change. I would also be great to have test case for this.

[2016-03-08 20:33] miyconst opened #13 "Side effect or feature of puppet-polymer-client"
I just have discovered that with `puppet-polymer-client` we can add custom binding values to `<template is="dom-bind">` outside of `model`.

[code]

The `parsedItems` collection filled by `<custom-parse>` works aside `model` without any issues.

This is not the case with `dom-bind-notifier`, it is trying to apply `parsedItems` changes on top of `model` and fails.

Personally I like this feature, b

[2016-03-11 18:16] warpech commented on #12
Fixed with the above fixes. Will be available in the next Starcounter nightly.

[2016-03-11 18:16] #12 closed

[2016-03-11 18:17] warpech commented on #13
I think it is a good use of puppet, not even a side effect. Good finding!

[2016-03-11 18:54] miyconst commented on #13
Good. Then I close this issue and don't fix the file upload example to work with the old version.

[2016-03-11 18:54] #13 closed

[2016-05-06 14:03] miyconst commented on #3
@warpech could you please fix it?

There is a bug in Chrome, which causes an error when using WS.
http://stackoverflow.com/questions/37066865/one-or-more-reserved-bits-are-on-reserved1-0-reserved2-1-reserved3-1

[2016-05-12 09:19] miyconst opened #14 "Invalid notification about array in array changes"
- Checkout https://github.com/miyconst/Playground/.
- Open http://localhost:8080/playground.
- Play with the Matrix control by pressing `++` and `--` buttons.

The `--` button seems to work correct, but after `++` the matrix cells lack values.

![image](https://cloud.githubusercontent.com/assets/6435556/15209748/371fa1e8-1833-11e6-9a9f-4f55482b4100.png)

![image](https://cloud.githubusercontent.co

[2016-05-23 13:42] warpech commented on #9
This should automatically fix #3 if done property.

[2016-05-23 13:43] warpech commented on #9
Assigning to @joozek78. Please follow the development instructions in https://github.com/PuppetJs/puppet-polymer-client#development

[2016-05-23 18:15] joozek78 opened #15 "Fix travis build"
Travis currently fails. See [test build](https://travis-ci.org/PuppetJs/puppet-polymer-client/builds/132319319)

[2016-05-24 09:00] joozek78 opened #17 "Patches don't get applied to arrays of primitives"
If your view-model would have an array of primitive values, then patches won't get applied to DOM. This is caused by bug in Polymer: Polymer/polymer#3377

See tests in `test/d-b-n_smoke/arrays.html` (search for 'issues/17')

[2016-05-24 09:02] warpech commented on #14
Snapshot JSON and JSON-Patch here: https://gist.github.com/warpech/9c43d798a3b7f90f2fbf8be7945075d8

I think this is exactly the problem of the test: https://github.com/PuppetJs/puppet-polymer-client/blob/c59a9e1932401efafe33e14b30ca71f8a1be9bd4/test/d-b-n_smoke/arrays.html#L158-L172

Which is a Polymer issue: https://github.com/Polymer/polymer/issues/3377

@joozek78 will change this test to pass,

[2016-05-24 09:02] warpech commented on #17
Turns out to be a clone of https://github.com/PuppetJs/puppet-polymer-client/issues/14

[2016-05-24 09:04] warpech commented on #3
This should be auto-fixed with #9

[2016-05-24 09:20] joozek78 commented on #17
See #14 for real-life example

[2016-05-24 09:21] joozek78 commented on #14
Marking as duplicate, as #17 tracks root cause for this problem. Please continue any discussion there.

[2016-05-24 15:30] tomalec opened #18 ""model" attribute name for dom-bind's binding is hardcoded"
And it was customizable (in `dom-bind-notifier`)

@warpech did you make it on purpose?

[2016-05-24 21:00] warpech commented on #18
Not on purpose. Feel free to add customisability of this name
24 maj 2016 17:30 "Tomek Wytrębowicz" <notifications@github.com> napisał(a):

[2016-05-25 12:56] warpech opened #19 "Change jasmine.Ajax to Sinon"
jasmine.Ajax is causing us problems in Edge.

See https://github.com/PolymerElements/iron-ajax/blob/master/test/iron-ajax.html how Sinon mock server is used with WCT.

I suggest to replace our use of jasmine.Ajax to Sinon.

[2016-05-25 15:33] #19 closed

[2016-05-25 15:33] #15 closed

[2016-05-25 15:47] tomalec commented on #17
In our case it seems it's not just an array of primitives problem, it also affect arrays of objects.

However I figured out it might not ma a Polymer's issue, but ours. I'm still investigating.

[2016-05-29 16:15] tomalec commented on #14
It seems it's not (just) this issue, as I have updated te tests, and use-case for Polymer thing and everything works fine, but OP is still a problem.

[2016-05-29 17:34] tomalec commented on #14
Here is Polymer bug-case http://jsbin.com/bimipe/edit?html,console,output so it's about "applying on array of primitives consecutive `splice`s with overlapping values"

[2016-05-29 18:15] tomalec commented on #14
Here is new Polymer issue for it https://github.com/Polymer/polymer/issues/3682
It seems to be quite narrow case, and buried deep in Polymer's template binding.

I do not see any workaround form `puppet-polymer-client` that makes sense.

The ways to go I see:
1. Make a note on README about this issue, and wait for Polymer team to fix that,

  Some thing like

2. Mark it as somehow "expected behavi

[2016-05-29 18:18] tomalec commented on #17
I will mark it as done, as in general we clearly are applying patches for arrays of primitives.

#14 seems to be very narrow use case (described https://github.com/PuppetJs/puppet-polymer-client/issues/14#issuecomment-222372565), so we could track it there.

[2016-05-29 18:18] #17 closed

[2016-05-30 06:39] miyconst commented on #14
I vote for the option 1 and against the option 3. We have other more important tasks for your valuable time.

[2016-05-30 08:44] tomalec commented on #14
@warpech, @joozek78  WDYT?

[2016-05-30 09:48] joozek78 commented on #14
I vote for option 2 (as I have in past for similar cases). Here's why:

1. Tests help us assert current state of our system and this behavior is part of our current state, whether we want it or not.
1. Right now we can tell our clients "this is broken in such-and-such way" (maybe this breakage doesn't affect their use case). If we won't write tests for this we will never know if it is still broken

[2016-05-30 09:48] warpech commented on #14
I vote for option 1.

I am against tests that fail on purpose. So if we have a test for that, let's comment out the test and do the option 2 as wel.

[2016-05-30 12:41] warpech opened #20 "Cleanup mock servers & fix demo"
After https://github.com/PuppetJs/puppet-polymer-client/pull/16 there are some problems:

- [x] instances of `jasmine-core` and `jasmine-ajax` still loaded in the test helper, but (probably?) not used anymore
- [x] `demo/index.html` seems to not work anymore (seen on @aloscha's screen)

[2016-05-30 12:49] joozek78 opened #21 "Add tests for demo"
Currently demo has no tests and can break without us knowing that. Only people who wanted to see our cool demo will notice
1. add tests
2. make sure they are run on travis

[2016-05-30 13:19] tomalec commented on #14
1., 2., done
http://puppetjs.github.io/puppet-polymer-client/test/?grep=non-desired-but-expected%2Fdue-to-polymer-bugs%5C.html
https://github.com/PuppetJs/puppet-polymer-client#template-binding-issues

[2016-05-30 13:48] joozek78 commented on #14
"not desired but expected" is a cool name. We should use it in all such cases

[2016-05-30 14:19] joozek78 opened #23 "Use better timeouts in tests"
## Problem statement

Currently all tests that use polymer have no way of finding out when exactly polymer has finished working with dom. Hence tests use timeout (100ms) which is prone to race conditions. Currently it's done like that:

[code]
## Proposed solutions

However it's not possible to properly wait for polymer operations end (it doesn't expose any event on that) we could copy selenium's

[2016-05-30 14:19] joozek78 commented on #23
cc @warpech @tomalec

[2016-05-30 15:00] joozek78 opened #24 "deep.html test doesn't work in safari (sometimes)"
See [travis build](https://travis-ci.org/PuppetJs/puppet-polymer-client/builds/133938089) - it fails around 50% of cases. Currently test is disabled on safari

[2016-05-30 15:01] joozek78 commented on #24
cc @warpech @miyconst please take a look on this - you have macs

[2016-05-30 15:44] joozek78 commented on #20
Live Demo still fails due to dependencies fail

[2016-05-30 20:17] tomalec commented on #23
I do agree that current solution with `setTimeout` is ugly, and I 'd like to change it as well.

However, I do not see how you proposed solution could work, as in terms of timing, it does exactly same thing as `ppclient.addEventListener('patch-applied',...)`.
Needless to say that `setTimeout` and `addEventListener('patch-applied` versions are way shorter and cleaner.

If by problematic "race condi

[2016-05-31 09:12] joozek78 commented on #23
I made a minor (or major depending on who you ask) mistake in my example. I mean to wait (in condition part) for anything we need to wait for (in this case it should be dom change, not puppet event). I corrected my code in OP

[2016-05-31 10:03] joozek78 commented on #20
It turned out that iron-component-page is broken. It detects if it's served from gh-pages and if so, it uses cdn.rawgit.com to fetch element to present. It has two problems:

1. cdn.rawgit.com is case-sensitive and our org name (PuppetJs) contains uppercase characters. Iron-component-page never works in such case (see [code](https://github.com/PolymerElements/iron-component-page/blob/v1.1.6/iron-c

[2016-05-31 15:46] warpech commented on #9
While discussing this with @joozek78 and @aloscha, we decided that OP contradicts https://github.com/PuppetJs/PuppetJs/issues/85#issuecomment-221882278. The latter is much more important.

This is a pity, since @joozek78 already has a solution for OP, but let's not merge it and try fixing PuppetJs issue 85 instead.

[2016-05-31 17:44] tomalec commented on #9
How it contradicts?

[2016-06-01 08:04] warpech commented on #9
The idea is that `puppet-polymer-client` should wrap PuppetJs, not pretend that it is the same thing. Otherwise we ask for problems like this https://github.com/PuppetJs/PuppetJs/issues/85

Similarly how, these components are wrappers: https://github.com/Juicy/juicy-markdown, https://github.com/Juicy/juicy-ace-editor/blob/gh-pages/juicy-ace-editor.html

[2016-06-02 10:59] miyconst commented on #3
No, it's not fixed. @joozek78 please fix it.

[2016-06-02 11:06] warpech commented on #3
Yeah, I meant it should be automatically fixed if #9 is accepted and merged, which it was not yet. https://github.com/puppetjs/puppetjs/issues/85 has bigger priority than this now

[2016-06-20 01:09] joozek78 opened #26 "onLocalChange won't work with other changes than 'replace'"
While working on fix for puppetjs/puppetjs#85 `onLocalChange` has been changed to notify Polymer about changes, but not provide info on removed elements (which is required by Polymer when notifying about array splices). This works fine currently, because we only ever generate 'replace' operations, but it could result in bugs in future.

This could probably be solved by returning results from `json

[2016-06-24 15:47] warpech commented on #20
@joozek78 could you please write an issue in https://github.com/PolymerElements/iron-component-page about this?

[2016-06-24 16:08] warpech commented on #9
Discussed this again with @joozek78, now after he finished work on https://github.com/PuppetJs/PuppetJs/issues/85, we still think that work done on this is not worth merging. We are keeping the https://github.com/PuppetJs/puppet-polymer-client/tree/extend_puppet branch for future reference.

[2016-06-24 16:08] #9 closed

[2016-06-24 16:12] warpech commented on #3
@joozek78 now that we decided to abandon https://github.com/PuppetJs/puppet-polymer-client/issues/9, this issue needs to be fixed properly. `pupper-polymer-client` needs to wrap `puppet. useWebSocket` property.

When this is fixed, the "Use WebSocket" checkbox in `starcounter-debug-aid` will start to function again.

[2016-06-28 12:20] joozek78 commented on #20
@warpech It seems that there are already 2 issues posted there, both ignored by the team: PolymerElements/iron-component-page#44 and PolymerElements/iron-component-page#101. @tomalec even submitted a PR for the second one, but it hasn't been addressed by the team either. I don't see what I could do there beside "liking" the issues :(

[2016-06-28 12:29] warpech commented on #20
I see. Then we we did all we can. Thanks!

[2016-06-28 12:29] #20 closed

[2016-07-26 14:49] joozek78 commented on #3
This is actually caused by how Polymer properties work. Take a look at [this thread](https://github.com/Polymer/polymer/issues/1812#issuecomment-112226630). There's even a work-around proposed there

[2016-08-15 14:49] miyconst opened #29 "Can we notify Polymer about changes once entire patch applied?"
It is very bug prone when Polymer observers are hit in between of patch items.

cc @warpech, @tomalec

[2016-08-16 08:44] warpech commented on #29
I'd rather avoid it, because then the client side code becomes aware of Puppet.

Can you give any examples when its really unavoidable?

As a workaround, perhaps you can have a property `Updated: 0` that is incremented on the server and set the observer on it?

[2016-08-16 10:00] miyconst commented on #29
Just opposite. It should be hidden into the `puppet-polymer-client`. Currently we have to be aware that the view-model can get into inconsistent state at any moment and care about it in every web component.

The last case which raised this issue:

[code]

The `Rows`, `Cols`, and `Cells` arrays are updated on certain user action. Now the problem is that `palma-d3-matrix` observes changes on those v

[2016-08-16 10:07] warpech commented on #29
What version of Starcounter and puppet-polymer-client are you using? Current version uses `notifyPath` (see https://github.com/PuppetJs/puppet-polymer-client/blob/gh-pages/puppet-client.html#L467) after all of the sequence operations are actually applied.

[2016-08-16 10:33] miyconst commented on #29
You are right. After some more digging and investigation I found that my issue is caused by the following:

- Client receives a patch to replace a partial.
- PuppetJs applies view-model changes.
- `puppet-polymer-client` notifies Polymer about the changes.
- Polymer applies the view-model changes to the **old** HTML.
- Exception happens here, as the old HTML is not designed for the new view-model.

[2016-08-16 10:45] miyconst commented on #29
I have created a simplest possible example in my [Playground](https://github.com/miyconst/Playground/).

In the example I have two partials with `{ "Date": "" }` property defined, loading one after another will apply the new value to old HTML first and only then replace the entire partial.

Steps to reproduce:

1. Clone the repository.
2. Start Playground app.
3. Open `http://localhost:8080/playgr

[2016-08-26 09:16] warpech opened #30 "Better formatting for a connection error stack trace"
Right now, if a websocket is disconnected because of an uncaught exception, I get a notification with a JSON representation of the stack trace. The formatting (or lack of it) makes it very unreadable. The new line characters are rendered as `\n\n`, etc.

This error message should be reformatted to look more readable.

Current:

![2016-08-26 11_10_29-program manager](https://cloud.githubusercontent

[2016-08-26 09:20] warpech opened #31 "When there is a connection error, show the request that caused it"
When there is a connection error, show the request that caused it.

If the request was HTTP, show the relevant HTTP information:
- request method
- request URL
- request & response headers
- request & response body

If the request was WebSocket, show the relevant information:
- last patch message body

[2016-08-29 09:19] tomalec commented on #29
For the first look, it seems to me like a bug (missing scenario coverage) in `starcounter-include` (`juicy-html`). Could you provide an example of a patch received by client?

[2016-08-30 07:20] miyconst commented on #29
@tomalec here is the patch:

[code]

Can you look at my example? It is tiny and easy to understand.

[2016-08-31 16:07] warpech commented on #30
Proposed fix tracked in:

https://github.com/PuppetJs/puppet-polymer-client/pull/32
https://github.com/PuppetJs/PuppetJs/pull/95

[2016-09-23 10:13] warpech commented on #30
Closing as done

[2016-09-23 10:13] #30 closed

[2016-09-26 13:38] tomalec commented on #14
We need to see what Polymer 2.x bring fot that https://github.com/Starcounter/CompanyTrack/issues/233

[2016-10-09 15:04] Mnosek opened #35 "Improve "Reload page" link at mobile"
Currently we develop a mobile app for Sweoffshore. After some UX testing we found out that it is very hard to tap "Reload page" button if there is connection error on a mobile (See a screenshot below). IMO there are two issues:
- Link is to small
- It is too much sticked to the top.

My proposal is to create something what feels more like a button an move it to the second, separate line.

![2016-1

[2016-11-02 10:40] Mnosek commented on #35
cc @tomalec @warpech - do you have any idea about that? We need to figure out something :)

[2016-11-02 10:54] tomalec commented on #35
I like the idea of bigger button for smaller screen sizes.

[2016-11-02 11:18] warpech commented on #35
My proposal is to do two things:

1. Change the link thext "Reload page" to "Click here to reload"
2. Make the whole red area a link, not just that text

Then we will not have to have a separate version for mobile.

Like this:

<img width="362" alt="2016-11-02 12_16_37-kitchensink" src="https://cloud.githubusercontent.com/assets/566463/19926723/64cf1fe6-a0f6-11e6-8f6d-cf5ef21f3b56.png">

[2016-11-08 13:06] tomalec opened #37 "Replace hard-coded messages with slot-based customization"
Currently, we have hard-coded texts, and HTML structure for presenting messages at https://github.com/PuppetJs/puppet-polymer-client/blob/gh-pages/puppet-client.html#L72

Due to i18n, a11y, customization, theming, cheeper maintenance, etc. those should be customizable.

In my opinion the best way to do so is to use `<slot>`, we can provide fallback content inside, but tu CE consumer could simply w

[2016-11-21 21:38] Mnosek commented on #35
Merged at #36. Thanks guys for the input!

[2016-11-21 21:38] #35 closed

[2017-05-02 14:51] alshakero opened #40 "notifySplices fails with proxified arrays"
Proxified arrays in object tree can't be notified. I isolated everything and this is my conclusion for now.

Method:

I made two separate folders:
1.  One that depends on Palindrom with Proxies which is failing **all** array tests.
2.  One that uses the old Puppet with dirty checking.

I polyserved both and compared values through every step of the execution using Chrome debugger, I couldn't spot

[2017-05-04 10:50] warpech commented on #40
Did you try to step in to `notifySplices` and check at what line it acts differently for proxy and dirty-checking? It is complex, but synchronous, so it should be possible to track.

[2017-05-04 11:03] alshakero commented on #40
@warpech Oh I spent most of the time doing this. In polymer.html, there is a function called `_applySplicesArrayOrder`

It has this code:
[code]
And it loops through the splices we pass in our function `notifyTemplateDomBind`, exactly here:
[code]

But as you can see in the first loop, it expects an array called `addedKeys` to exist, and this array should be added dynamically by Polymer. But it's

[2017-05-04 11:12] warpech commented on #40
Let's reverse the problem. Could you use some standalone Polymer demo that takes an array a property (maybe https://www.webcomponents.org/element/PolymerElements/iron-list) and see if that works with a proxified array? If it does not, that's something to report in the Polymer issue tracker.

[2017-05-04 11:12] alshakero commented on #40
@warpech great idea. Going for it.

[2017-05-04 16:58] alshakero commented on #40
A little report.

I think I pinpointed the issue. And it's in Palindrom not in `palindrom-client`. Tomorrow I'll implement a solution.

`onRemoteChange` is being called before `onDataReady`. And it is being called with the non-proxified object. And this renders the following code in `palindrom-client` useless:
[code]
Because `onPatchApplied` is being called on an empty `model` object.

We need to

[2017-05-29 10:50] tomalec commented on #18
@alshakero  Could you take a look at it?

It would be useful to be able to specify property name, so we could get rid of Polymer in `PartialToStandaloneHtmlProvider`
so https://github.com/Starcounter/level1/blob/2d6990034e47906453c8108c6191bdf43aa78959/src/Starcounter/Middleware/PartialToStandaloneHtmlProvider.cs#L60-L66 could look like:
[code]

[2017-06-01 14:26] warpech commented on #18
Are we sure that the property a way to go anyway? Maybe a DOM event would be enough? And then some JS to glue it together.

[2017-06-01 15:49] tomalec commented on #18
property is the way to communicate with `dom-bind`. Plus we want this JS code to be in sc-include, not in every single (custom) element used by the author

[2017-06-01 15:49] tomalec commented on #18
Also, sc-include currently triggers an event on itself.

[2017-06-29 15:37] alshakero opened #42 "Version 3.x: ignoreAdd was set to /.+/ all add operations on root were dismissed"
It seems to me that before, we had `ignoreAdd` default set to `/.+/`. And this means ignore all `add` operations on the root level. I did test that, and true, anything you added to the root of `palindrom.obj` was ignored (not synced with the server) without any configuration.

This issue is to explain and document this behaviour for people who will face it (99% will happen), now that `ignoreAdd` i

[2017-06-30 11:16] tomalec commented on #42
Isn't it the correct behavior?

[2017-06-30 11:18] alshakero commented on #42
Yes, this is the correct behaviour. But not the real-life behaviour with 3.x. `palindrom-client` ignored all root additions and the no errors happened.

[2017-06-30 11:21] alshakero commented on #42
@tomalec but you're right, my explanation was misleading. I edited it.

[2017-07-05 15:12] warpech commented on #42
This is what I meant here https://github.com/Palindrom/Palindrom/issues/136#issuecomment-309871900 and we decided that was not a problem. If this becomes a problem, just make sure that the JavaScript error in the console gives you a clue what is wrong.

What was the symptom of https://github.com/StarcounterApps/KitchenSink/pull/149? Any nice error message, or totally misleading?

[2017-07-05 15:24] alshakero commented on #42
Misleading. I had to use `sc-debug-aid` and compare the object tree before and after the error to see the extra property.

![image](https://user-images.githubusercontent.com/17054134/27871654-9d46cd9e-61a6-11e7-96d7-1cc691bfa8dc.png)

(First warning is not ours).

[2017-07-06 08:30] warpech commented on #42
I will make sure the error reported in the Chrome console includes the stack trace.

[2017-07-06 20:57] alshakero opened #43 "Rename to `palindrom-connection`"
This element will be renamed to `palindrom-connection`. It will instantiate a PalindromDOM instance, initiate a connection and emit all PalindromDOM events (encapsulates JS callbacks and dispatches DOM events around them).

Middleware between this element and frameworks will be called `palindrom-frameworkname` like `palindrom-polymer`.

[2017-07-24 14:06] alshakero commented on #40
Closing as fixed.

[2017-07-24 14:06] #40 closed

[2017-08-29 12:28] alshakero commented on #14
This is fixed in Polymer 2.0 💃

[2017-09-21 20:25] warpech opened #46 "Fails to apply a patch when the app name contains a dot"
### Steps to reproduce

1. Clone KitchenSink `develop`
2. Go to the directory `src/KitchenSink` in the Windows consle
3. Start the app by `star --name=Kitchen.Sink bin\Debug\KitchenSink.exe`
4. Go to http://localhost:8080/KitchenSink/Breadcrumb
5. Click on the "Chart" link in the menu

Starcounter version 2.3.1.7211

### Expected result

The current page should change to the Chart page.

### Actua

[2017-09-24 16:29] alemoi commented on #46
@alshakero is it much to do, you think? Thanks!

[2017-09-24 16:30] alshakero commented on #46
@alemoi I was on vacation last week. Tomorrow I'll look into it. And anytime!

[2017-09-25 10:53] alshakero commented on #46
I can't reproduce this. `star.exe` seems to be trimming the name to `Kitchen`
[code]

I tried with `Kitchen\.Sink`, `'Kitchen.Sink'`. Neither worked.

[2017-09-25 11:47] alemoi commented on #46
Yes, because its for Starcounter version 2.3.1.7211
I will send it to you by slack then.

[2017-09-25 11:48] alshakero commented on #46
I tried this version and didn't work either
![image](https://user-images.githubusercontent.com/17054134/30806974-2ff1985e-a1f8-11e7-9b39-66d757a372be.png)

[2017-09-25 11:50] alemoi commented on #46
The important is step 3 in the @warpech description.

[2017-09-25 11:52] alshakero commented on #46
Yes I understand, but as you see, I'm passing `--name=Kitchen.Sink` and it's being trimmed to `Kitchen`.

[2017-09-25 11:54] alshakero commented on #46
@alemoi helped me reproduce it on Slack.

[2017-09-26 13:05] alshakero commented on #46
Update: it's a Polymer issue and I'll report it to them today with a JSBin.

[2017-09-26 20:49] warpech commented on #14
@alshakero Did you need to revert some tests that checked if this is failing in Polymer 1.x?

[2017-09-26 20:50] warpech commented on #46
@alemoi most probably this will take months to fix in Polymer. Can you please escape the `.` to `_` in the JSON namespaces?

[2017-09-26 21:41] alemoi commented on #46
Sure, i can do that @warpech!
So it will be "myapp_cs", "myapp_blend_cs", "myapp_exe", etc.
Are you sure its only about dots, or some other symbols can be deadly?

[2017-09-26 22:01] warpech commented on #46
Polymer issues in the OT say that it is `.` and `#` which are not handled correctly by Polymer.

[2017-09-26 22:32] alemoi commented on #46
Here is a new build for you guys to test: http://downloads.starcounter.com/download/Starcounter/Custom/2.3.1.7313
Let me know @alshakero if everything works well now :) Thanks!

[2017-09-27 10:46] alshakero commented on #14
Sorry, I don't fully understand the question. Here are all the relevant facts:

1- We have a test that actually expects the undesired failure. And it is still passing, and this means this bug is still there in Polymer 1.x.

This test didn't pass in Polymer 2.x and I changed the spec to test for the desired behaviour. And it is passing. Which means it is fixed in Polymer 2.x.

[2017-09-27 22:15] warpech commented on #14
Great! So this means that we can close this as fixed in Polymer 2.0-version as it is merged to `master` of this repo.

@miyconst please reopen if you'd like to wait until this can be proven in a Starcounter app.

[2017-09-27 22:15] #14 closed

[2017-09-28 10:55] alshakero commented on #46
Everything seems to work. Should I bother with Polymer?

[2017-09-28 11:51] alemoi commented on #46
Thanks @alshakero !
Are there any other objection @warpech of me NOT pushing the full app name fix to Starcounter? Any other apps that can suffer? Thanks!

[2017-09-28 20:40] alemoi commented on #46
Pushed to the 2.3 and develop. Let's see if something bad pops up.

[2017-09-28 21:21] alemoi commented on #46
I didn't write anything in changelog about this, because its just an intermediate change. Waiting for Polymer fixes.

[2017-09-29 08:05] warpech commented on #46
@alemoi this is a big change. There might be apps that hardcoded the JSON namespace even though it was discouraged. Please write about it in the changelog.

[2017-09-29 12:00] alemoi commented on #46
Sure thing @warpech Already pushed!

[2017-09-29 15:08] warpech commented on #46
@alemoi I propose escaping `.` only in JSON namespaces but it seems that you escaped them generally for AppName? I think that might be confusing.

![2017-09-29_17-06-55](https://user-images.githubusercontent.com/566463/31022365-dcdbe568-a538-11e7-90c4-9f9a9adedd37.png)

[2017-09-29 21:16] alemoi commented on #46
Yes, its basically now an `StarcounterEnvironment.AppName` that contains underscores, everything else are derivatives.

Do you want to keep `StarcounterEnvironment.AppName` with dots and escape in Json? I'm not sure how much Json relies on the `StarcounterEnvironment.AppName` better to ask @chrhol (he is not in this repo by the way, I suggest adding him here) I just made it safe, so its reflected

[2017-10-02 21:26] warpech commented on #1
Archiving, as this was never implemented. @alshakero is now reworking how notification works for Polymer 2.0 (https://github.com/Palindrom/palindrom-polymer-client/pull/45)

[2017-10-02 21:26] #1 closed

[2017-10-02 21:27] warpech commented on #3
Check if this is still relevant in the Polymer 2.0 version.

[2017-10-02 21:30] warpech commented on #46
Changing the status of this issue to "Frozen" as it is blocked by Polymer (Polymer/polymer#3675, Polymer/polymer#3127)

[2017-10-02 21:31] warpech commented on #43
Was this issue completely abandoned or temporarily skipped? I am putting this to "Freezer" but if it was abandoned, it should be closed.

[2017-10-02 21:52] warpech commented on #42
Archiving. This is now explained in [Starcounter's changelog](https://github.com/Starcounter/level1/blob/v2.3/CHANGELOG.md) (ctrl+f "ignoreadd") and [Palindrom 3.0.0 release notes](https://github.com/Palindrom/Palindrom/releases/tag/v3.0.0)

[2017-10-02 21:52] #42 closed

[2017-10-02 21:54] warpech commented on #29
Let's look at this when Polymer 2.0 integration is tested in Starcounter 2.4.

[2017-10-02 21:56] warpech commented on #26
Archiving. We will fix this when this becomes a problem.

[2017-10-02 21:56] #26 closed

[2017-10-02 22:01] warpech commented on #24
This was not a problem since many months. Archiving

[2017-10-02 22:01] #24 closed

[2017-10-10 09:49] alshakero opened #47 "Remove operation is not reflected"
All details here: https://github.com/Starcounter/Home/issues/250

[2017-10-11 13:16] alshakero commented on #47
Bower is down for the meantime https://github.com/bower/bower/issues/1385. Will check it later.

[2017-10-24 13:53] alshakero commented on #47
Closing as fixed in https://github.com/Palindrom/palindrom-polymer-client/pull/48

[2017-10-29 19:04] alshakero opened #49 "Subscribe to all Palindrom error callbacks"

[2017-11-01 14:57] alshakero commented on #49
Done in https://github.com/Palindrom/palindrom-polymer-client/pull/50.

[2017-11-01 14:57] #49 closed

[2017-11-16 09:54] alshakero opened #51 "Remove `puppet-client` warning in Starcounter 2.3"
For the meantime, it's our responsibility to stop using `puppet-client` in favour of `palindrom-client`. So we shouldn't warn people about it.

[2017-11-16 17:23] alshakero commented on #51
Onging in https://github.com/Starcounter/level1/pull/4357

[2017-11-17 12:40] warpech commented on #51
Closing as done

[2017-11-17 12:40] #51 closed

[2017-11-27 22:06] warpech commented on #43
Archiving, as this first has to be discussed globally in https://github.com/Starcounter/RebelsLounge/issues/217

[2017-11-27 22:06] #43 closed

[2017-11-28 10:51] warpech opened #52 "Release a version that works with Polymer 2.0 (maybe still compatible with Polymer 1.0)"
It seems that there is no reason why the branches `4.x` and `master` should be diverged.

So perhaps the branch `master` should be deleted and `4.x` renamed to `master`?

@alshakero pls figure out.

[2017-12-08 17:04] alshakero commented on #47
This bug is back in Polymer 2.0, and is worse :(

Am I doing anything wrong? https://jsbin.com/yefuxil/1/edit?html,output

@warpech @tomalec

[2017-12-11 14:26] warpech commented on #47
I tried to follow the recommendation from https://github.com/Polymer/polymer/issues/4652 and it still does not work: https://jsbin.com/xivutoxoku/1/edit?html,output

https://github.com/Polymer/polymer/issues/3892 mentions "overriding the dirty checking as per the documentation" but I can't find the meaning of this. Maybe they mean [this](https://github.com/Polymer/polymer/blob/master/lib/mixins/pr

[2017-12-11 14:31] alshakero commented on #47
Most probably they mean this https://www.polymer-project.org/1.0/docs/devguide/model-data#override-dirty-check.

[2017-12-15 16:37] warpech commented on #52
Closing as done

[2017-12-15 16:37] #52 closed

[2017-12-18 09:20] alshakero opened #53 "Retry to connect even after fatal connection errors"
When I was in Stockholm, @andwah pointed out that `palindrom-polymer-client` needs to reconnect even after fatal errors. This is especially needed for apps that stay idle for a long time by design.

Imagine a clock app, it shouldn't die when you restart the server, which is considered a fatal error.

[2017-12-18 11:00] alshakero opened #54 "Consider `data` parameter from connectionError callback"
Currently, `palindrom-polymer-client` constructs the error string on its own and doesn't consider `data` parameter which could contain useful information.

[2018-01-09 16:59] warpech commented on #52
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Palindrom/Palindrom/releases/tag/v3.1.0
- published on npm https://www.npmjs.com/package/palindrom
- included in a Finished release of SCF https://github.com/Starcounter/StarcounterClientFiles/releases/tag/2.1.1

[2018-01-16 13:53] tomalec commented on #47
IT seems it may not bee easy with Polymer https://github.com/Polymer/polymer/pull/4999#issuecomment-357517032

[2018-01-16 14:19] tomalec commented on #47
@alshakero is it still ⏰ ?

[2018-01-16 14:20] warpech commented on #47
I understand this error still exists, but I don't recall a consequence in any Starcounter app because of it. I think it is no longer a ⏰. @alshakero pls confirm.

[2018-01-16 15:37] alshakero commented on #47
I used ⏰ because when we were using Polymer 1.x this issue affected a real app and I had to fix it with a higher priority. So I naturally assumed to bring it back would be a big deal. Apparently it's not.

We can close this but I'm pretty sure it will resurface soon. Especially when blending becomes prominent. Because we'll removing views (full objects, not primitives) from the model-view a lot. A

[2018-01-17 06:04] warpech commented on #47
Thanks. I have kept it in the roadmap for Q2. For now, I am removing the ⏰.

[2018-01-17 08:58] #54 closed

[2018-01-17 10:34] alshakero commented on #31
This is all done in https://github.com/Palindrom/palindrom-polymer-client/pull/55

[2018-01-18 10:18] warpech commented on #31
Closing as done

[2018-01-18 10:18] #31 closed

[2018-01-20 00:43] alshakero commented on #53
PR in https://github.com/Palindrom/palindrom-polymer-client/pull/56

[2018-01-22 18:35] warpech commented on #53
Automatic reloading after 5 seconds from an exception means that it will be harder for app developers to detect uncaught exceptions in their view-models. Palindrom will reload the page, obscuring the real problem.

That might not be a problem in the end, because:

1. reloading can be dismissed by clicking "Cancel reloading" (if you manage to click on that within 5 seconds)
2. the information about

[2018-01-22 18:39] warpech opened #57 "Remove puppet-client compatibility"
As the part of our legacy cleanup, remove the alias `<puppet-client>`, the property `this.puppet` and the file `puppet-client.html`. Did I miss anything?

[2018-01-22 20:30] Mihaiii commented on #53
It's ok with me, but please ping me when you make the PR in level1 so I can test Admin (something similar was requested and implemented on the `onConnectionError`) and make changes in Admin app, if needed.

[2018-01-23 11:01] alshakero commented on #53
I can also disable reloading when Chrome DevTools is open.

[2018-01-23 14:31] warpech commented on #53
I like that. Can the same be done for Firefox, Safari, Edge DevTools and Starcounter DevTools?

[2018-01-23 14:51] alshakero commented on #53
Yes it can.

[2018-01-23 15:39] andwah commented on #53
Wonder if there is a (cool) way of telling the client that the server has been stopped manually (by admin), if so then we can have some nice message telling that the server has been stopped and auto retry to connect each 5sec or so.. otherwize show the error?

[2018-01-23 16:08] warpech commented on #53
WebSocket has a way to send a closing message so that is absolutely possible, but it is beyond this issue.

Care to make an issue for that in level1?

[2018-01-23 16:20] alshakero commented on #53
FF
![image](https://user-images.githubusercontent.com/17054134/35286978-ab97605c-0061-11e8-9eb0-30ca8ea3271e.png)

Chrome
![image](https://user-images.githubusercontent.com/17054134/35287010-baeaa29e-0061-11e8-8ba6-9495f4fc1ea6.png)

[2018-01-24 11:38] #53 closed

[2018-01-26 09:27] alshakero commented on #57
Done in https://github.com/Palindrom/palindrom-polymer-client/pull/58

[2018-01-26 10:59] alshakero opened #60 "Why don't we rename this to palindrom-client?"
This repo name confused me when I first joined. And until now whenever I see
[code]
it takes me a second

Isn't
[code]
 much nicer 😃

WDYT @tomalec @warpech

[2018-01-26 12:01] warpech commented on #60
It is fine for me.

Any suggestions what to do with https://github.com/Palindrom/puppet-client? Should we move that repo to StarcounterFreezer?

[2018-01-26 12:02] #57 closed

[2018-01-26 12:03] alshakero commented on #60
That would be cool. [No body is depending on it](https://github.com/Palindrom/puppet-client/network/dependents).

[2018-01-26 12:09] warpech commented on #60
Great! I have renamed `palindrom-polymer-client` to `palindrom-client` and moved `puppet-client` to StarcounterFreezer org.

[2018-01-26 12:09] #60 closed

[2018-01-30 11:32] Joltrix opened #61 "Palindrom disconnects, and then connects again (displaying the "reconnecting warning")"
### Steps to reproduce
Just by running a solution of apps for a while will cause the reconnecting "warning" to appear. So the page will disconnect and then connect again. This time it takes for it to reconnect again is usually between 0.5 and 1 second.

### Browsers affected
I'm not sure which browsers it's working/not working on, since this app solution is not working across all browsers, but it

[2018-01-30 11:33] Joltrix commented on #61
cc @alshakero

[2018-01-30 16:45] warpech commented on #61
Can you reproduce it only with your app or also KitchenSink?

What is the Starcounter version?

[2018-01-30 17:00] alshakero commented on #61
I've just seen it in AdFenix'es chat bot.

[2018-01-31 13:22] Joltrix commented on #61
@warpech the build I'm using is the custom 2.4 build with the mapping. :/

[2018-01-31 16:11] alshakero commented on #61
I tried to reproduce the issue myself on KitchenSink and it didn't happen in 10 mins on KitchenSink. However, I mananged to reproduce it in Flexovital app. Thus probably it's a server issue.

Waiting for it to happen is dreadful, what I did was viewing Sources (in Chrome DevTools) and searched for `palindrom-dom.min.js`, then found `reestablish` function withitn the code, put break point there, an

[2018-02-01 08:42] atifwaqar commented on #61
@alshakero About AdFenix's Chatbot app, we are using IIS to support https traffic. Do you think this can be an issue?

[2018-02-01 09:02] atifwaqar commented on #61
Also, in our case when the connection is broken, its not fixed again, unless we I refresh/reopen the page. And here is how the exceptions look like

![image](https://user-images.githubusercontent.com/4388707/35669868-d0c05560-0736-11e8-8070-d21c584d2985.png)

[2018-02-01 20:37] warpech opened #62 "When I press "Cancel reloading" ("Do not reload") the counter does not dissapear"
When I press "Cancel reloading" ("Do not reload") the counter does not disappear.

Expected: The counter, "Reload now" and "Cancel reloading" links should disappear when I click "Cancel reloading".

![2018-02-01 21_34_32-kitchensink](https://user-images.githubusercontent.com/566463/35701994-1a588e2a-0798-11e8-85e4-b70ade63d8e1.png)

[2018-02-01 22:20] warpech commented on #61
@atifwaqar I went to your test server (the URL you [sent on Slack](https://starcounter.slack.com/archives/G5HAK773N/p1517233480000335)) and waited on the page for 30 minutes. The connection did not drop. Palindrom sent a WS ping message to the server every 60 seconds.

Maybe your issue is caused by your computer going to sleep? In that case, the session will time out after the number of minutes co

[2018-02-02 12:30] Joltrix commented on #61
@warpech

Well, all I need to do is to run the apps. and when everything is up and running and working fine, sometimes it will just disconnect for half a second and then reconnect without me having to manually reconnect.

As previously mentioned though, I am using the custom 2.4 mapping version of Starcounter, And we are running about 9 apps that are mapped and blended.

So there isn't really any

[2018-02-02 13:58] atifwaqar commented on #61
That is not the case. and I have experienced this on multiple machines, Even @mmnosek experienced this issue.

And sadly, I have no idea how to reproduce it. I just leave the tab open for monitoring chats on servers  (live server and test). And whenever i visit the tabs after sometime the page disconnects.

feel free to keep my test server's page open in a tab for an hour, and observe the behavior

[2018-02-08 13:44] warpech commented on #61
I investigated the problem that was explained by @Joltrix. Chrome DevTools show me that WebSocket disconnects exactly after **1 minute**. The server is behind a Nginx proxy. Googling about this problem showed me that this is probably caused by Nginx `proxy_read_timeout ` setting set to 60 (1 minute). Source: https://github.com/tornadoweb/tornado/issues/1070

@Joltrix, @habib535 pls give it a try.

[2018-02-08 15:06] warpech commented on #61
Re: @Joltrix problem is tracked in https://github.com/StarcounterApps/AppsTeam/issues/166. If the issue persists, we will track it there.

------

Re: @atifwaqar problem. Sorry, I left my computer open with the link that you provided in on [Slack](https://starcounter.slack.com/archives/G5HAK773N/p1517233480000335) for 75 minutes in Windows PC running Google Chrome 63.0 with Starcounter DevTools 3.

[2018-02-08 15:07] #61 closed

[2018-02-25 20:08] alshakero opened #64 "Tests are failing on master"
If https://github.com/Palindrom/palindrom-client/pull/63 gets merge tests will be failing on master. I will fix them.

[2018-02-27 11:07] tomalec opened #65 "Demo and test pages are not working"
### Steps to reproduce
1. Open README https://github.com/Palindrom/palindrom-client,
2. Click "Check it live!" or "test suite"

#### Live Demo
https://palindrom.github.io/palindrom-polymer-client/demo
https://palindrom.github.io/palindrom-polymer-client/test

### Expected result
Demo page should be show

### Actual result
"Page not found" is shown.

### Browsers affected
all

cc @alshakero

[2018-02-27 11:25] tomalec commented on #65
Even locally the demo does not work for me.

[2018-02-27 12:09] warpech commented on #64
Tests were failing on master even before #63. See:

![image](https://user-images.githubusercontent.com/566463/36727962-643fc3a6-1bbf-11e8-807a-9a2395de6a4d.png)

Do you know how to fix that?

[2018-02-27 14:26] warpech commented on #64
Ah, sorry, I did not notice that :(

[2018-02-27 16:47] alshakero commented on #64
No problem at all.

[2018-03-04 21:32] warpech commented on #64
The tests are now passing, thanks for fixing!

[2018-03-04 21:32] #64 closed

[2018-03-05 10:16] warpech commented on #23
@alshakero reports that this can be closed because it was fixed with other fixes. Closing as done.

If possible, @alshakero please add more details about how it is solved.

[2018-03-05 10:16] #23 closed

[2018-03-05 10:17] warpech commented on #21
Frozen until we decide about https://github.com/Palindrom/Palindrom/issues/205

[2018-03-05 10:18] warpech commented on #65
Frozen until we decide about https://github.com/Palindrom/Palindrom/issues/205

[2018-03-06 13:46] alshakero commented on #62
Released 6.0.0 and it fixes this. It will be in StarcounterClientFiles soon (2-3) days.

[2018-03-06 13:46] #62 closed

[2018-04-16 07:39] warpech opened #68 "Remove the demo pages"
As agreed in https://github.com/Palindrom/Palindrom/issues/205, remove the demo pages of `palindrom-client`.

[2018-04-16 07:39] warpech commented on #65
Closing as it was decided in https://github.com/Palindrom/Palindrom/issues/205 that the demos should be removed.

Opened a new issue: https://github.com/Palindrom/palindrom-client/issues/68

[2018-04-16 07:39] #65 closed

[2018-04-16 07:39] warpech commented on #21
Closing as it was decided in https://github.com/Palindrom/Palindrom/issues/205 that the demos should be removed.

Opened a new issue: https://github.com/Palindrom/palindrom-client/issues/68

[2018-04-16 07:39] #21 closed

[2018-04-16 11:55] warpech opened #69 "Remove the disconnection bar from palindrom-client"
The disconnection bar is not user friendly. We should hide the internal errors from the end users. Small steps towards that:

1. Move the disconnection bar into a custom element that can be used in a layout
2. Palindrom sends events. App shell listens to events and writes to `console.log`
3. Check if `console.log` can be read and `WebView` can be debugged in React Native apps
4. Solution owner can

[2018-04-16 15:07] alshakero commented on #69
It doesn't, I checked. However, using a normal browser instead of a WebView to debug works great so far.

[2018-04-26 14:43] warpech commented on #69
Then again React Native stays behind "real native", because it's possible there:

- https://stackoverflow.com/questions/6508313/javascript-console-log-in-an-ios-uiwebview
- https://stackoverflow.com/questions/30291607/get-javascript-console-when-emulating-webview-app

[2018-05-14 08:32] PatrykSzwer commented on #68
Closing as done. #70

[2018-05-14 08:32] #68 closed

[2018-05-14 15:48] alshakero commented on #69
@tomalec and I agreed that:

1. We totally remove **reconnection** yellow bar. Because it simply indicates a glitch that the user cannot do anything about, and the app automatically recovers from it without any user action, it's only a source of annoyence.

2. However, for debugging purposes, we log when Palindrom reconnects in console. And keep the all connection-related events like reconnection

[2018-05-24 15:05] alshakero commented on #69
Closing as done in https://github.com/Palindrom/palindrom-client/pull/71

[2018-05-24 15:05] #69 closed

[2018-05-24 15:06] alshakero commented on #37
Do you think we should still do this for `palindrom-error-catcher`?

[2018-05-25 08:42] tomalec commented on #37
I think it could be useful. But not with such priority.

[2018-05-28 09:54] warpech commented on #37
I agree with @tomalec, I will move it to some other milestone.

[2018-05-28 09:56] warpech commented on #37
Moved to https://github.com/Palindrom/palindrom-error-catcher/issues/2

[2018-05-28 09:56] #37 closed

[2018-06-01 15:33] warpech opened #72 "Notifying Polymer is slow with many array items"
@miyconst was contacted by @eriksunsol with a performance problem in appling Palindrom patches received by the client.

Erik has an array of 1500 objects. When he triggers server-side sorting of the data, the patch that is sent to the client contains 1500 operations of replacing the sorting number. Applying of this patch freezes the web browser for 3 minutes.

Erik has done some performance invest

[2018-06-01 15:45] miyconst commented on #72
It is `2.3.1` or `2.3.2` as far as I know. @eriksunsol should know better.

[2018-06-01 15:49] alshakero commented on #72
@miyconst so it's Polymer 1.x?

[2018-06-01 15:54] alshakero commented on #72
Polymer seems to handle updates quite well.

Polymer 2.x: https://plnkr.co/edit/fJrj3gkh3IycjbC6MJOF?p=preview
Polymer 1.x: https://plnkr.co/edit/oQ9oxMKkcQz8UhUvWRUn?p=preview

[2018-06-01 17:56] alshakero commented on #72
It just occurred to me that I should use notifySplices not notifyPath for a more accurate recreation of the issue. I’ll do that soon.

[2018-06-02 16:03] alshakero commented on #72
Created new two for `notifySplices` and it is slower but still quite fast

Polymer 2.x: https://plnkr.co/edit/UJu3q4RfwgurNhnIgqru?p=preview
Polymer 1.x: https://plnkr.co/edit/mpe6VyNamJCgVyubTcnG?p=preview

Polymer 1.x is slower. But both didn't exceed 1 second for N = 10000;

I'm not sure if this is a Polymer issue anymore. And I would have suspected JSONPatcherProxy because it [had history with

[2018-06-03 14:07] miyconst commented on #72
@alshakero thank you for the investigation. Let's see if @eriksunsol could provide a reproduction scenario.

[2018-06-03 19:12] warpech commented on #72
And the exact versions of Starcounter, Polymer and Palindrom (PuppetJs) if possible.

[2018-06-07 12:35] eriksunsol commented on #72
Starcounter-RC-2.3.1.7877 with stock Palindrom, Palindrom-Client and to the best of my knowledge we're running Polymer 1.7.1.

I think we have a few different patch scenarios which all result in lots of time spent in Polymer notification propagation. As stated above we're talking about some 1500 operations in a single patch message. The one I looked at last is actually not a replace, but an add, w

[2018-06-07 12:41] alshakero commented on #72
If you could right click on the WebSocket frame under Network Tab in in Chrome DevTools and then click "copy", and put it here it would be the most helpful. If this is unclear I can prepate a GIF for you.

[2018-06-07 15:09] eriksunsol commented on #72
I talked briefly to @miyconst about this, and I think I can do better: I'll prepare a real example for you to run on our dev server. I'll pass along credentials and a link on a separate channel. This will be tomorrow as that particular server is currently in maintenance mode...

[2018-06-07 15:14] alshakero commented on #72
There is a decent chance that it will be waste of your effort. You'd probably help as much if you just give show me the patch frame. I'm not 100% sure though. I say it's worth a try before you spend a lot of time. I'll tell you in a few minutes if I could repro using only the patch.

[2018-06-07 15:23] eriksunsol commented on #72
OK, though I think you'll want the page as well to fully grasp what's going on. I think I'll be able to prepare the example without much effort.

[2018-06-13 19:21] warpech commented on #72
Ping @eriksunsol.

I am removing it from the list of prioritized issues for the time being.

[2018-06-15 10:42] eriksunsol commented on #72
Sorry for the delay. Other matters got in the way unfortunately.

Finally I have an example running. It would be preferable if I can show it to someone face to face, or if we can set up a conference call and share a screen I can guide you through it. Let me know if that's possible.

cc @warpech

[2018-06-15 10:59] warpech commented on #72
@alshakero, @eriksunsol pls have a Hangout. I've hooked you up by email in case you don't have each others contact info.

[2018-06-18 11:54] alshakero commented on #72
@eriksunsol and I Skyped today and he showed me the repro and gave me access to reproduce it too. There are login creds and this is a public repo, if anyone is interested in reproducing it please ping me on Slack.

There is 500KB patch being sent from the server, JSONPatcherProxy and Palindrom are not even visible in the performance audit results table (which is great), what appears and is taking

[2018-06-26 13:05] alshakero commented on #72
Update:

I investigated the issue and tried several strategies, most promising are:

1. Replace the whole array instead of actually notifying it several times. This didn't yield any performance improvement. Because what's happenning is that the app is doing  thousands of updates to thousands of smaller arrays. Replacing the whole 4-element array or notifying Polymer about updating an element withi

[2018-06-28 09:55] alshakero opened #75 "Considerations after merging #73"
See: https://github.com/Palindrom/palindrom-client/pull/73#pullrequestreview-132740319

[2018-06-28 10:58] #72 closed

[2018-07-03 16:41] tomalec commented on #75
For further reference, coppied the [linked comment](https://github.com/Palindrom/palindrom-client/pull/73#pullrequestreview-132740319)
- add tests for [that](https://github.com/Palindrom/palindrom-client/issues/72),
- add Polymer to our full-stack benchmark,
- investigate Polymer's data-binding bottleneck in isolated scenario (without Starcounter)
   - I'd be happy to talk about it F2F in MS.
- mo

[2018-07-03 16:42] tomalec commented on #75
Speaking of the performance issue, and a need for double changes, @alshakero have you tried fiddling with `MutableDataMixin`? https://github.com/Polymer/polymer/issues/3173#issuecomment-363603592

[2018-07-10 09:31] alshakero opened #76 "Regression after merging #73"
This is related to Palma project.

There is a huge patch coming, that it is followed by smaller patches that are causing issues.

You'd think there is some sort of a race condition and the smaller patches assume a certain state the doesn't exist at this point and that's why the cause an exception when they're attempted to be applied. Which is not the case.

1. When I delay the applying of the smal

[2018-07-10 13:57] alshakero commented on #76
/cc @tomalec

[2018-07-10 21:16] warpech commented on #76
I've spent some time investigating it and probably made the same full circle as @alshakero, boiling down the problem to something similar to this: https://github.com/Polymer/polymer/issues/4279

Which is a notification problem fixed in Polymer 2.

------

@alshakero perhaps it is worth trying a different approach of doing the panic mode? Instead of https://github.com/Palindrom/palindrom-client/blo

[2018-07-12 12:11] alshakero commented on #76
I achieved the same outcome of this with a simpler solution, but I couldn't investigate (the empty middle area issue) deeper because it's tremendously hard to know which file contains which code, then add a Fiddler rule for it, and then play with it.

I then got what seemed like a great idea, to find the longest common string among all patches, which refers to the root object that needs to be upda

[2018-07-16 06:54] warpech commented on #76
I find it super easy to locate any (unminified) code file using Chrome Network tab search tool. See here, searching for a URL of a HTML view that contains the word "example":

![search](https://user-images.githubusercontent.com/566463/42745934-a979111a-88d5-11e8-8b3b-2ff245a516a3.gif)

Is your case more complex?

[2018-07-16 08:47] alshakero commented on #76
A little more. This whole part of the UI is coming via JSON.

But I didn't know about this search feature. I'll find the template HTML and search for some keyword.

[2018-07-16 15:12] alshakero commented on #76
<details>
<summary>Here is the code for the simpler solution I mentioned above if you want to play with it</summary>

[code]
</details>

---

I found out what's happening. There is a deep `dom-repeat` that populates a table that fills the missing part of the UI. This `dom-repeat` is not being re-rendereed with this fix, causing an empty UI. `notifySplice-ing` this `dom-repeat` manually fix this pa

[2018-07-17 07:06] warpech commented on #76
I agree. Please discuss with Erik.

[2018-07-20 08:55] warpech commented on #76
Closing as won't fix. It was confirmed with Jimmy that they will look into migrating to Polymer 2 instead of working around Polymer 1. See https://starcounter.slack.com/archives/C67JPA7NG/p1531815185000187

[2018-07-20 08:56] #76 closed

[2018-07-30 22:01] warpech opened #77 "Error in Edge"
When I go to https://uniform.starcounter.io/ (Starcounter 2.4.990.122) in Edge 17.17134, all I can see is a blank page, with the following error that seems to be reported in `palindrom-client.html`:

[code]

[2018-07-31 10:38] #77 closed

[2018-08-29 13:46] alshakero commented on #47
I'll close since there is nothing was can do about this. Closing as unactionable.

[2018-08-29 13:46] #47 closed

[2018-09-19 13:15] tomalec opened #80 "Consider removing optimization for huge patches"
@alshakero suggested to remove it at https://github.com/Palindrom/palindrom-client/pull/79#discussion_r218492059, as

[2018-09-23 11:19] Mihaiii opened #81 "Suggest to see logs in the console error"
I think that people that try SC should be suggested to see the logs (which present more detailed error message) when they are facing an error. Otherwise, confusion regarding general error messages will arise.

So what I suggest is to append some general "Please see the logs for more details" message to the error message.

Wdyt @warpech , @alshakero ?

//cc @sellingsolutions .

Edit: On second thou

[2018-11-15 15:11] alshakero commented on #80
Closing as done in https://github.com/Palindrom/palindrom-client/commit/2408b985564e9bbb5d1ef5ebf1b4cce16269c083

[2018-11-15 15:11] #80 closed

[2019-06-26 13:29] warpech commented on #3
The correct attribute name is `use-web-socket`. There is indeed problem with converting attribute values to booleans. The fix is in PR https://github.com/Palindrom/palindrom-client/pull/84

[2019-06-28 08:40] tomalec opened #85 "Unconventional use of boolean attributes."
Problem was discovered at https://github.com/Palindrom/palindrom-client/pull/84 which fixed handling of boolean attributes. However, it did it in sightly unconventional way.

Property gets the value of `true` iff attribute is equal to `"true"`.

For native HTML elements, boolean properties ignore the value of an attribute, and check only the presence - like `hasAttribute`, so it gets `true` for `a

[2019-06-28 09:34] warpech commented on #85
Good advice, it should be done the right way from the start.

Advice set by standard bodies:

https://html.spec.whatwg.org/multipage/common-microsyntaxes.html#boolean-attributes

https://w3ctag.github.io/webcomponents-design-guidelines/#other-considerations

[2019-06-28 09:36] warpech commented on #3
Fixed in #84

[2019-06-28 09:36] #3 closed

[2019-06-28 09:41] warpech commented on #85
Personally, I think that we should do proposed solution 2, or maybe even 3.

Anyone knows a good resource about API design that answers whether point 3 is a good idea?

[2019-09-02 12:03] warpech commented on #80
The reason the threshold was added in PR https://github.com/Palindrom/palindrom-client/pull/73 is that I thought that it was a clever hack to address a performance problem caused by massive mutations.

The reason why the said feature was removed in this PR (https://github.com/Palindrom/palindrom-client/pull/80) is that I quickly came to conclusion that not only it did not fully fix the original pr